@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

:root {
    font-family: "Roboto Thin", serif;
    /*line-height: 1.5;*/
    /*font-weight: 400;*/

    /*color-scheme: light dark;*/
    color: rgba(255, 255, 255, 0.87);
    background-color: #4a1507;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 50vh;
}

#app {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

main {
    background-color: #ddd9c6;
}

.les-artistes-peintres {
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    padding-inline: 10px;
}

.header-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.banner-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #78a899;
}

.banner-img {
    width: 200px;
    height: auto;
    margin: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.content-body-layout {
    display: flex;
    flex-direction: row;
}

.footer-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.artist-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: #440b02;
    margin-block: 10px;
    padding-block: 10px;
}

.artist-navbar-item {
    padding-inline: 16px;
    padding-block: 6px;
    border-right: #806559 solid 2px;
    margin:0;
}

.aside-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #78a899;
    padding-inline: 40px;
    padding-block: 20px;
    width: 220px;
}

.aside-navbar-item {
    padding-right: 16px;
    padding-block: 6px;
    border-bottom: white solid 2px;
    margin: 0;
}

.artwork-layout {
    background-color: #ddd9c6;
}
